mixin nav-content()
	ul
		li: a(href="{{site.base.url}}/#work") Projects
		li: a(href="{{site.base.url}}/#code") Social
		//- li: a(href="{{site.base.url}}/#about") about

.mobile-nav
	+nav-content()

header
	.header-position
		a(href="{{site.base.url}}")
			h1.logo Adrian DOrnellas

		nav.site-nav
			+nav-content()
		a.email-link(href='mailto:adrian@savagebanana.com') + hire me

		.mobile-nav-toggle: span
