mixin nav-content()
	ul
		li: a(href="{{site.base.url}}/#work") Projects
		li: a(href="{{site.base.url}}/#social") Social
		//- li: a(href="{{site.base.url}}/#about") about
mixin mobile-nav-content()
	ul
		li: a(href="{{site.base.url}}/#work") Projects
		li: a(href="{{site.base.url}}/#social") Social
		li: a.email-link(href='mailto:adrian@savagebanana.com') + hire me

.mobile-nav
	+mobile-nav-content()
	

header
	.header-position
		a(href="{{site.base.url}}")
			h1.logo Adrian DOrnellas

		nav.site-nav
			+nav-content()
		a.email-link(href='mailto:adrian@savagebanana.com') + hire me

		.mobile-nav-toggle: span
