section.code

	h3 Code
	p I am a big believer of coding socially. Many a google search has helped me through those long nights of coding, and so I'd love to give back. You can find
	.flex.flex--center.middle

		.col-50.flex.flex--center
			a.github(href ='https://github.com/savagebanana'): i.fa.fa-github.fa-2x
		.col-50.flex.flex--center
			a.codepen(href ='http://codepen.io/Savagebanana'): i.fa.fa-codepen.fa-2x
