section.development

	//- h2 /web design + dev
	.dev-wrapper
		.col-50.order-first
			.col-1
				img.iphone(src='./assets/images/nexus6-TorSky-img.png')
				img.imac(src='./assets/images/imac-TorSky-img.png')
				img.ipad(src='./assets/images/ipad-TorSky-img.png')
		.col-50
			h3 Web Design
			p I have developed websites and online Social Media account branding. Complete front end development, from sketch to working html is my specality. I've designed for mobile display on ios and android.
