section.development

	h2 /web design + dev
	.dev-wrapper
		.col-50
			.col-1
				img.iphone(src='{{site.baseurl}}/assets/images/nexus6-TorSky-img.png')
				img.imac(src='{{site.baseurl}}/assets/images/imac-TorSky-img.png')
				img.ipad(src='{{site.baseurl}}/assets/images/ipad-TorSky-img.png')
		.col-1.order-first
			h3 web design words here