section.social#social
	h3  Social Links
	.container

		//- p I am a big believer of coding socially. Many a google search has helped me through those long nights of coding, and so I'd love to give back. You can find my social coding links below.


		a.github(href ='https://github.com/savagebanana'): i.fa.fa-github.fa-2x
		a.codepen(href ='http://codepen.io/Savagebanana'): i.fa.fa-codepen.fa-2x
		a.instagram(href ='http://instagram.com/savagebanana'): i.fa.fa-instagram.fa-2x
		a.linkedin(href ='https://ca.linkedin.com/in/adrian-d-ornellas-b41813a9'): i.fa.fa-linkedin.fa-2x
