section.business#business
	img.header-SBlogo(src='assets/images/SBlogo01.svg')

	.icon-container
		.block
			img(src='/assets/images/vinyl.svg' alt='vinyl applications')
			span Vinyl Applications
		.block
			img(src='/assets/images/embroidery.svg' alt='embroidery services')
			span Embroidery
		.block
			img(src='/assets/images/squegee.svg' alt='screen printing')
			span Screen Printing

	.button-container
		.link
			a.go-banana(href='http://shop.savagebanana.com') shop Savagebanana
		.arrow
			i.fa.fa-arrow-right
