---
layout: default
title: Adrian D'Ornellas Portfolio Website
---
<div class="home-wrap">

	{% include header.html %}

	<div class="home-sections">

		<!-- all the sections here -->
		{% include section-head-img.html %}
		{% include section-branding.html %}
		{% include section-development.html %}
		<!-- {% include columns.html %} -->


		<div id="about" style="height: 2000px; background-color: gold;"> sample words</div>
		<div id="work" style="height: 1000px; background-color: goldenrod;"> sample words </div>



	</div>

</div>