
<section class="code">
  <h3>Code</h3>
  <p>I am a big believer of coding socially. Many a google search has helped me through those long nights of coding, and so I'd love to give back. You can find</p>
  <div class="flex flex--center middle">
    <div class="col-50 flex flex--center"><a href="https://github.com/savagebanana" class="github"><i class="fa fa-github fa-2x"></i></a></div>
    <div class="col-50 flex flex--center"><a href="http://codepen.io/Savagebanana" class="codepen"><i class="fa fa-codepen fa-2x"></i></a></div>
  </div>
</section>