section.development
	display: flex
	flex-direction: column
	background:
		color: $title-color
		// size: cover
	// height: 100vh
	position: relative
	width: 100%
	// overflow: hidden

	.dev-wrapper
		position: relative
		display: flex
		flex-direction: row
		align-items: flex-top
		justify-content: space-around
		padding-top: 10%
		@media (max-width: 640px)
			display: block

		.iphone
			display: block
			position: absolute
			left: 0
			bottom: 0
			background:
				size: contain
				repeat: no-repeat
			// height: auto
			// margin: 10%
			// height: auto
			// width: auto
			// margin: 2%
			// transform: scale(.07)
			transform-origin: 50% 50%
			// z-index: 1

			@media (max-width: 640px)
				transform: scale(.04)
		.imac
			display: block
			position: absolute
			left: 0
			bottom: 0
			background:
				size: contain
				repeat: no-repeat
			width: auto
			height: auto
			// transform: scale(.5)
			transform-origin: 50% 50%

			@media (max-width: 640px)
				transform: scale(.6)
				width: 100%
		.ipad
			display: block
			position: absolute
			right: 0
			bottom: -3%
			background:
				size: contain
				repeat: no-repeat
			width: auto
			height: auto
			// transform: scale(.3)
			transform-origin: 50% 50%

			@media (max-width: 640px)
				transform: scale(.25)
				width: 100%
	.col-60

		display: flex
		flex-direction: column
		align-items: center
		padding: 0 4%
		h3
			// line-height: 2em
			font-family: Permanent Marker
		p
			font-family: open sans
			line-height: 2em